<?xml version="1.0" encoding="utf-8"?>
<!--
此檔案由您的 Web 專案發佈/封裝處理序使用。您可以藉由編輯此 MSBuild 檔案，
自訂此處理序的行為。若要深入了解，請前往 https://go.microsoft.com/fwlink/?LinkID=208121。 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
	<PropertyGroup>
		<WebPublishMethod>Custom</WebPublishMethod>
		<DockerPublish>true</DockerPublish>
		<RegistryUrl>http://192.168.4.112</RegistryUrl>
		<UserName />
		<PublishImageTag>
		</PublishImageTag>
		<PublishProvider>ContainerRegistry</PublishProvider>
		<LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
		<LastUsedPlatform>Any CPU</LastUsedPlatform>
		<ProjectGuid>3eb4c0db-f15a-407a-af42-e9c1d29c98e2</ProjectGuid>
		<DockerfileTag>192.168.4.112/lambor/scheduler:$([System.DateTime]::Now.ToString(yyyyMMddHHmmss))</DockerfileTag>
	</PropertyGroup>
</Project>